body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}


/*HERO/HEADER*/

.hero-image {
  height: 35vh;
  position: relative;
  width: 100%;
  overflow: hidden;
  background: url(./images/hero-medium.jpg) no-repeat center;
  background-size: cover;
}

.hero-container {
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.hero-text {
  height: 150px;
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  padding: 2px;
  height: 35px;
}

.hero-logos {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 20px;
}

.text-big {
  font-family: 'Marcellus', serif;
  margin: 28px;
  font-size: 28px;
  letter-spacing: 1px;
  margin: 0;
  font-weight: bolder;
  color: #000000;
}

.text-small {
  font-family: 'Marcellus', serif;
  display: block;
  font-size: 18px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 7px;
}


/* SKILLS SECTION */

.skills-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom: dotted 1px #d7e5cb;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.header-bar {
  height: 25px;
  display: flex;
  align-self: center;
  padding: 2px;
  margin-top: 15px;
}

.title-text {
  display: flex;
  align-self: center;
  font-size: 20px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.5px;
  margin: 0;
}

.skills-text {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}


/* ABOUT  SECTION */

.aboutme-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #ffff;
  margin-top: 10px;
  border-bottom: dotted 1px #d7e5cb;
}

.aboutme-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.p-small {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0 2px 0 2px;
}


/* PROJECTS SECTION */

.project-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: #ffff;
}

.project-container {
  display: flex;
  flex-direction: column;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.project-image {
  width: 300px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

.projects img {
  opacity: 0.6;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  box-shadow: 3px 3px 1px #ccc;
  -moz-box-shadow: 3px 3px 1px #f6efe2;
  -webkit-box-shadow: 3px 3px 1px #f6efe2;
  -khtml-box-shadow: 3px 3px 1px #f6efe2;
}

.projects img:hover {
  opacity: 1.0;
  transition: opacity .55s ease-in-out;
  -moz-transition: opacity .55s ease-in-out;
  -webkit-transition: opacity .55s ease-in-out;
}

.project-text {
  font-family: 'Nunito', sans-serif;
  width: 290px;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}


/* CONTACT ME SECTION */

.contact-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d7e5cb;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
}

.contact-text {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1px;
}

.contact-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}

.contact-logo {
  height: 20px;
}


/* MEDIA QUERIES*/

@media (min-width: 768px) {
  .hero-image {
    background: url(./images/hero-large.jpg) no-repeat center;
    background-size: cover;
  }
  .project-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 1025px) {
  .hero-image {
    background: url(./images/hero-large.jpg) no-repeat center;
    background-size: cover;
  }
  .project-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}